.container-profitability {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.input-money {
  display: flex;
}

.input-money span {
  font-family: Poppins, sans-serif;
  border-radius: 15px 0 0 15px;
  text-align: center;
  padding: 10px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-money input {
  font-size: 1.2em;
  padding: 13px 10px;
  border-radius: 0 15px 15px 0;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-number {
  display: flex;
}

.input-number span {
  font-family: Poppins, sans-serif;
  border-radius: 0 15px 15px 0;
  text-align: center;
  padding: 10px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-number input {
  font-size: 1.2em;
  padding: 13px 10px;
  border-radius: 15px 0 0 15px;
  width: 50%;
}
.div-rentabilidade {
  display: flex;
  justify-content: center;
  width: 80%;
}

select {
  border-radius: 15px;
  padding: 10px;
}

button {
  background-color: blueviolet;
}
