header {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
}

a {
  color: white !important;
  background-color: blueviolet;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: white;
}
